<app-header></app-header>
<div *ngIf="invoiceService.invoiceOrders.length!=0; then show else hide"></div>
<ng-template #hide>
    <div class="site-section" style="margin-bottom: 7%; ;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="icon-check_circle display-3 text-success"></span>
                    <h2 class="display-3 text-black">Sorry!</h2>
                    <p class="lead mb-5">You dont Have New Invoice</p>
                    <p><a style="color:white" href="medicine" class="btn btn-md height-auto px-4 py-3 btn-primary">Back to store</a></p>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #show>
    <div class="bg-light py-3">
        <div class="container">
            <div class="col-md-12 mb-0">
                <a href="">Home</a> <span class="mx-2 mb-0">/</span>
                <a href="cart">Invoice</a> <span class="mx-2 mb-0">/</span>
            </div>
        </div>
    </div>


    <div id="contentToConvert">


        <div class="container" style="margin-top: 2%;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="icon-check_circle display-3 text-success"></span>
                    <h2 class="display-3 text-black">Your Invoice</h2>
                    <p>Date :{{dateNow |date}}</p>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row mb-5">
                    <form class="col-md-12" method="post">
                        <div class="site-blocks-table" style="align-items: center;justify-content: center;">
                            <table class=" table-bordered" style="width: 1100px;">
                                <thead>
                                    <tr>

                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-total">Total</th>
                                        <th class="product-remove">Purchase Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of invoiceService.invoiceOrders">
                                        <td class="product-name">
                                            <h2 class="h5 text-black">{{item.name}} </h2>
                                        </td>
                                        <td>${{item.price}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td>${{item.price * item.quantity}}</td>
                                        <td>{{item.orderdate | date}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>

                <div class="row" style="text-align: center;">
                    <div class="col-md-6 pl-5">
                        <div class="row justify-content-end">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-7 text-right border-bottom mb-5">
                                        <h3 class="text-black h4 text-uppercase">Totals</h3>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <div class="col-md-6">
                                        <span class="text-black">Total</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <strong class="text-black">${{totalPrice}}</strong>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div style="justify-content: center; align-items: center; text-align: center;">
        <div class="col-md-12">
            <button style="color:white;background-color:  #3da8ff;" type="button" class="btn btn-info  px-5 py-3" value="Downlode" (click)="convetToPDF()">Downlod</button>
        </div>
    </div>
</ng-template>
<app-footer></app-footer>