
<app-header></app-header>
    <div class="main">
      <section class="main_blog_area pb_100">
        <div class="container">
            <div class="row blog_area_inner">
                <div class="col-lg-9">
                    <div class="main_blog_inner single_blog_inner">
                        <div class="s_comment_area">
                            <div class="section-heading"
                                style="margin-left: 30%;  margin-bottom: 3%; text-align: center;">
                                <h4>Log<em>In</em></h4>
                            </div>
                            <div>
                              <form method="POST" id="signup-form" style="margin-left: 200px;" class="example-form" >
                                <ul>
                                  <li>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                      <input type="email" matInput
                                        [formControl]="emailFormControl" placeholder="email" id="email">
                                      <!-- <mat-error *ngIf="emailFormControl.hasError('email')">
                                        not a valid email.
                                      </mat-error> -->
                                      <mat-error *ngIf="emailFormControl.errors?.['required']">
                                        email is required.
                                      </mat-error>
                                    </mat-form-field>
                                  </li>
                                  <li>
                                    <mat-form-field  class="example-full-width" appearance="outline">
                                      <input type="password" matInput [formControl]="passFormControl" placeholder="Password" id="password" >
                                      <mat-error *ngIf="passFormControl.errors?.['minlength']">
                                        min length for the password equal 6.
                                      </mat-error>
                                      <mat-error *ngIf="passFormControl.errors?.['required']">
                                        Password is required.
                                      </mat-error>
                                    </mat-form-field>
                                  </li>
                                </ul>
                                <ul>
                                  <button  class="main-button-gradient" mat-button [mat-dialog-close]="true" value="Login" (click)="login()" cdkFocusInitial>Login</button>
                                </ul>
                              </form>
                              <p style="margin-left: 400px;margin-top: 50px;" >
                                Don't have an account> ? <a href="auth/register"   ><em>Register here</em></a>
                            </p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
<app-footer></app-footer>

