<div style="padding-top:200px;padding-bottom: 150px;">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-text">
                        <h4>To Contact Us</h4>
                        <h1>Contact<span style="color: #56a3f5;"> Us</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-us2">
        <div class="container">
            <div class="row">

                <div class="col-lg-4">
                    <form id="contact" [formGroup]="CreateForm" class="example-form">
                        <div class="col-lg-12">
                            <div class="section-heading">
                                <h6>Contact Us</h6>
                                <h4>Say <em>Hello</em></h4>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Enter Your Name </mat-label>
                                    <input type="text" matInput formControlName="name" placeholder="name">
                                    <mat-error *ngIf="CreateForm.controls['name'].hasError('required')">
                                        name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </li>
                            <li>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Enter Your Email </mat-label>
                                    <input type="email" matInput formControlName="email" placeholder="email">
                                    <mat-error *ngIf="CreateForm.controls['email'].hasError('required')">
                                        email <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </li>
                            <li>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Enter title </mat-label>
                                    <input type="text" matInput formControlName="title" placeholder="title">
                                    <mat-error *ngIf="CreateForm.controls['title'].hasError('required')">
                                        title is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </li>
                            <li>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Enter Your phonenumber </mat-label>
                                    <input type="text" matInput formControlName="phonenumber" placeholder="phonenumber">
                                </mat-form-field>
                            </li>
                            <li>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label> Feedback </mat-label>
                                    <input style="height:100px ; width:150px" type="text" matInput formControlName="feedback" placeholder="feedback">
                                    <mat-error *ngIf="CreateForm.controls['feedback'].hasError('required')">
                                        feedback is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </li>
                        </ul>
                        <button mat-button [mat-dialog-close]="true" (click)="send()" cdkFocusInitial>Send</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>