<div class="page-header mt-4" style="margin-top: 10px;">
    <h3 class="page-title text-uppercase" style="font-size: 1.5em; font-weight: 500;">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
            <i class="mdi mdi-information-outline"></i>
        </span> manage Testimonial table
    </h3>
</div>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>testimonialid</th>
                        <th>txt</th>
                        <th>title</th>
                        <th>teststatid </th>
                        <th>teststat </th>
                        <th>image </th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of testimonial.testimonialData" style="padding-left:30px ">
                        <td style="padding-left:30px ">{{item.testimonialid}}</td>
                        <td style="padding-left:30px ">{{item.txt}}</td>
                        <td style="padding-left:30px ">{{item.title}}</td>
                        <td><img src="../../../assets/image/{{item.image}}" style="height: 100px;width: 100px;"></td>
                        <td style="padding-left:30px ">{{item.status}}</td>
                        <td class="col-lg-2">
                            <button class="btn btn-secondary"
                                (click)="openUpdateDailog(item.testimonialid,item.txt,item.title,item.image,item.status)">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #callUpdateDailog>
    <h2 class="text-uppercase"> Update Testimonial Status </h2>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="UpdateForm">
            <ul>
                <li>
                    <h4 style="margin-bottom: 0px; margin-top: 10px;">Customer Name</h4>
                    <p style="margin-top: 2px; background-color: rgb(235, 235, 235);">{{testtemonialsData.name}}</p>
                </li>
                <li>
                    <h4 style="margin-bottom: 0px; margin-top: 10px;">Customer Feedback</h4>
                    <p style="margin-top: 2px; background-color: rgb(235, 235, 235);">{{testtemonialsData.feedback}}</p>
                </li>
                <li>
                    <h4 style="margin-bottom: 0px; margin-top: 10px;">Update Testimonial Status</h4>
                    <select formControlName="status">
                        <option [ngValue]="null" disabled>Update Testimonial Status</option>
                        <option *ngFor="let item of testimonial.testimonialStatusData" [ngValue]="item.teststatid">{{item.status}}</option>
                    </select>
                </li>
            </ul>
        </form>
        <mat-dialog-actions align="end">
            <button class="btn btn-success" [mat-dialog-close]="true" (click)="update()" cdkFocusInitial>Update</button>
            <button style="margin-left: 10px;" class="btn btn-secondary" mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</ng-template>