<app-header></app-header>
<div>
    <div class="py-3" style="margin-top: 3%;margin-bottom: 2%; background-color: #3da8ff;">
        <div class="container">
            <div class="col-md-12 mb-0">
                <a style="color: white" href="">Home </a> <span class="mx-2 mb-0" style="color: white">/</span>
                <a style="color: white;font-size: 18px" href="singleMedicine"> Single Medicine</a> <span class="mx-2 mb-0"></span>
            </div>
        </div>
    </div>
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mr-auto">
                    <div class="border text-center">
                        <img src="../../../assets/image/{{medicine.singleMedicineData.imagepath}}" alt="Image" class="img-fluid p-5">
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="text-black">{{medicine.singleMedicineData.name}}</h2>
                    <p>Categoy :{{medicine.singleMedicineData.type}} </p>
                    <p>{{medicine.singleMedicineData.description}}</p>
                    <p>
                        Price: <strong class="text-primary h4">${{medicine.singleMedicineData.price}}</strong>
                    </p>
                    <div *ngIf="flag==false && role=='User'" class="mb-5">
                        <div class="input-group mb-3" style="max-width: 220px;">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-primary js-btn-minus" (click)="decrease()" type="button">&minus;</button>
                            </div>
                            <input type="text" class="form-control text-center" [(ngModel)]="quantity" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary js-btn-plus" (click)="increase()" type="button">&plus;</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="useraccountid!=null; then showCart else hideCart" style="size: 50%; margin-top: 5%;justify-content: center;align-items: center;text-align: center;">
                    </div>
                    <ng-template #hideCart>
                        <p><a style="background-color: #3da8ff;color:white" href="auth/login" class="buy-now btn btn-sm height-auto px-4 py-3 ">login for adding to cart</a></p>
                    </ng-template>
                    <ng-template #showCart>
                        <p *ngIf="flag==false && role=='User' " style="color:white"><a style="background-color: #3da8ff;" (click)="addToCart(medicine.singleMedicineData.medicineid)" class="buy-now btn btn-sm height-auto px-4 py-3">Add To Cart</a></p>
                    </ng-template>
                    <p *ngIf="flag" style="color:rgb(197, 23, 23)">Sold Out </p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>