<section class="main_blog_area pb_100">
    <div class="container">
        <div class="row blog_area_inner">
            <div class="col-lg-9">
                <div class="main_blog_inner single_blog_inner">
                    <div class="s_comment_area">
                        <div class="section-heading" style="margin-left: 30%;  margin-bottom: 3%; text-align: center;">
                            <h4>Enter your <em>card information</em></h4>
                        </div>
                        <form [formGroup]="CreateForm" style="margin-left: 30%;" class="example-form">
                            <ul>
                                <li>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Enter CVC</mat-label>
                                        <input type="text" matInput formControlName="cvb" placeholder="Enter CVC">

                                    </mat-form-field>
                                </li>
                                <li>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Enter IBAN </mat-label>
                                        <input type="text" matInput formControlName="iban" placeholder="Enter IBAN">

                                    </mat-form-field>
                                </li>
                                <li>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Enter Expire Date </mat-label>
                                        <input type="date" matInput formControlName="expiredate" placeholder="Enter Expire Date">

                                    </mat-form-field>
                                </li>
                                <button class="main-button-gradient" style="float: right; padding: 0; width: 100px;height: 40px;" mat-button [mat-dialog-close]="true" (click)="send()" cdkFocusInitial>send</button>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>