<app-header></app-header>

<div>
    <div class="bg-light py-3" style="margin-top: 3%;">
        <div class="container">
            <div class="col-md-12 mb-0">
                <a href="">Home</a> <span class="mx-2 mb-0">/</span>
                <a href="medicine">Store</a> <span class="mx-2 mb-0"></span>
            </div>
        </div>
    </div>
    <div *ngIf="medicineService.categoryId==0; then showTitle else showC"></div>
    <ng-template #showTitle>
        <div class="section-heading" style=" text-align: center;padding-top: 2%; padding-bottom: 3%;">

            <h4>Our <em>Medicines</em></h4>
        </div>
    </ng-template>
    <ng-template #showC>
        <div class="section-heading" style=" text-align: center;padding-top: 2%; padding-bottom: 3%;">

            <h4>Our <em>{{medicineService.medicineData[0].type }}'s</em></h4>
        </div>
    </ng-template>

    <form class="form-inline waves-light" mdbWavesEffect>
        <div class="input-group" style=" margin-left:15%;margin-bottom: 2%;">
            <div class="form-outline">
                <input (change)="enterName($event)" placeholder="search"
                    class="form-control border-end-0 border rounded-pill" type="text" id="example-search-input"
                    style="border-radius:50%" />
            </div>
            <button style="border-radius:50%;margin-top: 2%;" type="button" class="btn btn-primary">
                <i (click)=" search()" mdbWavesEffect class="fas fa-search"></i>
            </button>
        </div>
    </form>
    <div style="border-width: 1%;">
        <div class="row">
            <div class="col-sm-6 col-lg-4 text-center item mb-4" *ngFor="let item of medicineService.medicineData">
                <img src="../../../assets/image/{{item.imagepath}}" style="height:200px; width:200px " alt="Image " />
                <h3 style="font-size:25px ; color: #3d71ff ;padding-top:10%"> {{item.name}} </h3>
                <strong style="color: #3d71ff ;font-size:25px ">price: ${{item.price}}</strong>
                <div *ngIf="item.medicinenumber>0; then show else hide"
                    style="size: 50%; margin-top: 5%;justify-content: center;align-items: center;text-align: center;">
                </div>
                <ng-template #show>
                    <button
                        style="margin-left:44% ;margin-top:2%;color:rgb(191, 193, 194);background-color:rgb(94, 117, 233)"
                        class="btn btn-light row" type="button" (click)="openSingelPage(item.medicineid)"
                        mdbWavesEffect>View</button>
                </ng-template>
                <ng-template #hide>
                    <h4 style="color: red;">This IsSold Out
                    </h4>
                </ng-template>




            </div>
        </div>


    </div>
</div>
<app-footer></app-footer>