<app-header></app-header>
<ngx-spinner type="ball-clip-rotate-multiple"></ngx-spinner>
<section class="banner_main">
    <div id="banner1" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#banner1" data-slide-to="[0]" class="active"></li>
            <li data-target="#banner1" data-slide-to="[1]"></li>
            <li data-target="#banner1" data-slide-to="[2]"></li>
        </ol>
      
        <div class="carousel-inner" ng-style="margin:100px;">
            <div class="carousel-item active"  *ngFor="let item of sitedata.shared" >
                <div class="container">
                    <div class="carousel-caption">
                        <div class="text-bg">
                            <h1> <span class="blu">Welcome <br></span>To Our Pharmacy</h1>
                            <figure><img src="../../../assets/image/{{item.image}}" alt="#" /></figure>
                        </div>
                    </div>
                </div>
            </div>
              </div>
        <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
        <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
    </div>
</section>

<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="title-section text-center col-12">
          <h2 class="text-uppercase">Testimonials</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 block-3 products-wrap">
          <div class="nonloop-block-3 no-direction owl-carousel">
      
      <div *ngFor="let item of testimonial.testimonialData"> <div class="testimony"  >
        <blockquote>
          <img src="../../../assets/image/{{item.image}}" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
          <p>{{item.txt}}</p>
        </blockquote>
      
        <p>{{item.name}}</p>
      </div></div>
           
           
      
      
          </div>
        </div>
      </div>
    </div>
  </div>

  
<script src="../../assets/js/jquery-3.3.1.min.js"></script>
  <script src="../../assets/js/jquery-ui.js"></script>
  <script src="../../assets/js/popper.min.js"></script>
  <script src="../../assets/js/bootstrap.min.js"></script>
  <script src="../../assets/js/owl.carousel.min.js"></script>
  <script src="../../assets/js/jquery.magnific-popup.min.js"></script>
  <script src="../../assets/js/aos.js"></script>

  <script src="../../assets/js/main.js"></script>

<app-footer></app-footer>