<app-header></app-header>
<section class="banner_main">
    <div id="banner1" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#banner1" data-slide-to="0" class="active"></li>
            <li data-target="#banner1" data-slide-to="1"></li>
            <li data-target="#banner1" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="text-bg">
                            <h1> <span class="blu">Welcome <br></span>To Our Sunglasses</h1>
                            <figure><img src="../../assets/images/product_01.png" alt="#" /></figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="text-bg">
                            <h1> <span class="blu">Welcome <br></span>To Our Sunglasses</h1>
                            <figure><img src="../../assets/images" alt="#" /></figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="text-bg">
                            <h1> <span class="blu">Welcome <br></span>To Our Sunglasses</h1>
                            <figure><img src="../../assets/images/product_01.png" alt="#" /></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
        <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
    </div>
</section>

<script src="../../assets/newNavbar/js/jquery-3.3.1.min.js"></script>
<script src="../../assets/newNavbar/js/jquery-ui.js"></script>
<script src="../../assets/newNavbar/js/popper.min.js"></script>
<script src="../../assets/newNavbar/js/bootstrap.min.js"></script>
<script src="../../assets/newNavbar/js/owl.carousel.min.js"></script>
<script src="../../assets/newNavbar/js/jquery.magnific-popup.min.js"></script>
<script src="../../assets/newNavbar/js/aos.js"></script>

<script src="../../assets/newNavbar/js/main.js"></script>

<app-footer></app-footer>