<footer style="background-color: #3da8ff;">
    <div class="container">
        <div class="row" style="padding-top: 1%">
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

                <div class="block-7">
                    <h3 class="footer-heading mb-4" style="color:white;font-size: 18px;">About Us</h3>
                    <p style="color: white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quae
                        reiciendis distinctio voluptates sed dolorum excepturi iure eaque, aut unde.</p>
                </div>

            </div>
            <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
                <h3 class="footer-heading mb-4" style="color:white;font-size: 18px;"></h3>
                <ul class="list-unstyled">                    
                </ul>
            </div>

            <div class="col-md-6 col-lg-3" style="color:white">
                <div class="block-5 mb-5">
                    
                        <h3 class="footer-heading mb-4" style="color:white;font-size: 18px;">Contact Info</h3>
                        <ul class="list-unstyled">
                            <li class="address" style="color:white">{{footer.footerData[0].location}}</li>
                            <li class="phone"><a style="color:white"
                                    href="tel://footer.footerData[0].phonenumber">{{footer.footerData[0].phonenumber}}</a>
                            </li>
                            <li class="email" style="color:white">{{footer.footerData[0].email}}</li>
                        </ul>
                    
                </div>
            </div>
            <div>
                <div class="col-md-12" style="text-align: center; padding-top: 1%; padding-bottom: 1%; color: white;">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;{{year}} Pharmacy
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>